<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>queue_s_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{500,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,95}</string>
			</dict>
			<key>queue_s_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,500},{500,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,95}</string>
			</dict>
			<key>queue_s_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,0},{500,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,95}</string>
			</dict>
			<key>queue_s_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,500},{500,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,95}</string>
			</dict>
			<key>queue_s_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,0},{500,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,95}</string>
			</dict>
			<key>queue_s_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,500},{500,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,95}</string>
			</dict>
			<key>queue_s_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,0},{500,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,95}</string>
			</dict>
			<key>queue_s_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,500},{500,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,95}</string>
			</dict>
			<key>queue_s_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,0},{500,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,95}</string>
			</dict>
			<key>queue_s_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,500},{500,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,95}</string>
			</dict>
			<key>queue_s_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,0},{500,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,95}</string>
			</dict>
			<key>queue_s_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,500},{500,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,95}</string>
			</dict>
			<key>queue_s_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,0},{500,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,95}</string>
			</dict>
			<key>queue_s_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,500},{500,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,95}</string>
			</dict>
			<key>queue_s_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,0},{500,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,95}</string>
			</dict>
			<key>queue_s_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,500},{500,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,95}</string>
			</dict>
			<key>queue_s_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,0},{500,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,95}</string>
			</dict>
			<key>queue_s_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,500},{500,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,95}</string>
			</dict>
			<key>queue_s_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,0},{500,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,95}</string>
			</dict>
			<key>queue_s_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,500},{500,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,95}</string>
			</dict>
			<key>queue_s_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,0},{500,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,95}</string>
			</dict>
			<key>queue_s_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,500},{500,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,95}</string>
			</dict>
			<key>queue_s_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{1045,0},{500,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,95}</string>
			</dict>
			<key>queue_s_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1545,0},{500,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,95}</string>
			</dict>
			<key>queue_s_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{1045,95},{500,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,95}</string>
			</dict>
			<key>queue_s_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1045,595},{500,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,95}</string>
			</dict>
			<key>queue_s_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1045,690},{500,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,95}</string>
			</dict>
			<key>queue_s_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1045,785},{500,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,95}</string>
			</dict>
			<key>queue_s_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1045,880},{500,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,95}</string>
			</dict>
			<key>queue_s_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1140,95},{500,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,95}</string>
			</dict>
			<key>queue_s_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1235,95},{500,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,95}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>queue_s.png</string>
			<key>realTextureFileName</key>
			<string>queue_s.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>