<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>queue_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{500,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,270}</string>
			</dict>
			<key>queue_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,500},{500,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,270}</string>
			</dict>
			<key>queue_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1000},{500,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,270}</string>
			</dict>
			<key>queue_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1500},{500,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,270}</string>
			</dict>
			<key>queue_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,0},{500,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,270}</string>
			</dict>
			<key>queue_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,500},{500,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,270}</string>
			</dict>
			<key>queue_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,1000},{500,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,270}</string>
			</dict>
			<key>queue_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,1500},{500,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,270}</string>
			</dict>
			<key>queue_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,0},{500,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,270}</string>
			</dict>
			<key>queue_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,500},{500,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,270}</string>
			</dict>
			<key>queue_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,1000},{500,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,270}</string>
			</dict>
			<key>queue_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,1500},{500,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,270}</string>
			</dict>
			<key>queue_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,0},{500,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,270}</string>
			</dict>
			<key>queue_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,500},{500,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,270}</string>
			</dict>
			<key>queue_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,1000},{500,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,270}</string>
			</dict>
			<key>queue_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,1500},{500,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,270}</string>
			</dict>
			<key>queue_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,0},{500,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,270}</string>
			</dict>
			<key>queue_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,500},{500,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,270}</string>
			</dict>
			<key>queue_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,1000},{500,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,270}</string>
			</dict>
			<key>queue_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,1500},{500,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,270}</string>
			</dict>
			<key>queue_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{1350,0},{500,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,270}</string>
			</dict>
			<key>queue_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{1350,500},{500,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,270}</string>
			</dict>
			<key>queue_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{1350,1000},{500,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,270}</string>
			</dict>
			<key>queue_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1350,1500},{500,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,270}</string>
			</dict>
			<key>queue_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{1620,0},{500,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,270}</string>
			</dict>
			<key>queue_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1620,500},{500,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,270}</string>
			</dict>
			<key>queue_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1620,1000},{500,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,270}</string>
			</dict>
			<key>queue_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1620,1500},{500,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,270}</string>
			</dict>
			<key>queue_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1890,0},{500,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,270}</string>
			</dict>
			<key>queue_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1890,500},{500,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,270}</string>
			</dict>
			<key>queue_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1890,1000},{500,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,270}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>queue.png</string>
			<key>realTextureFileName</key>
			<string>queue.png</string>
			<key>size</key>
			<string>{4096,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4096</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>